<template>
<v-container>
  <v-card :loading="loading" class="mx-auto" max-width="374">

    <v-img :src="'https://img.youtube.com/vi/' + video.vidID + '/mqdefault.jpg'" contain></v-img>

    <v-card-title>{{ video.title }}</v-card-title>

    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-rating :value=video.rating color="amber" dense half-increments readonly size="14"></v-rating>

        <div class="grey--text ml-4">
          {{ video.rating }}
        </div>
      </v-row>

      <div class="vid-description">{{ video.description }}</div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-text>
      <v-chip-group column>
        <v-chip v-for="(tag,index) in video.tags" :key="index">{{ tag }}</v-chip>
      </v-chip-group>

    </v-card-text>

    <v-card-actions>

      <v-dialog v-if="dialog" :value="true" @input="dialog = false" persistent>
        <v-toolbar>
        <v-toolbar-title>{{video.title}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              light
              text
              @click="dialog = false"
            >
              close
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div class="video-responsive">
        <youtube :video-id="video.vidID" player-width=100% player-height=100%></youtube>
        </div>
      </v-dialog>
            <v-btn @click.stop="dialog = true" color="orange lighten-1" dark>
        Watch
      </v-btn>
    </v-card-actions>
  </v-card>
</v-container>
</template>

<script>
export default {
  name: 'VidCard',
  props: ['video'],

  data: () => ({
    loading: false,
    selection: 1,
    dialog: false
  }),
  
}
</script>

<style>
.video-responsive{
    overflow:hidden;
    padding-bottom:50.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.vid-description {
  height:100px;
}
</style>
